__pycache__/
*.pyc
*.pyd
*.env
.env

venv/
.venv/
ENV/
env/

.vscode/

src/data/**
!src/data/raw/
!src/data/.gitkeep
!src/data/raw/.gitkeep

.ruff_cache/

.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

infra/ansible/inventory.ini
