__pycache__/
.ruff_cache/
*.pyc
*.pyd
*.env
.env

venv/
.venv/
ENV/
env/

.vscode/

data/**
!data/raw/
!data/bronze/

!data/.gitkeep
!data/raw/.gitkeep
!data/bronze/.gitkeep

*.tfvars
.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.backup
infra/ansible/inventory.ini
