__pycache__/
*.pyc
*.pyd
*.env
.env

venv/
.venv/
ENV/
env/

.vscode/

data/*
!data/.gitkeep

.ruff_cache/

.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

infra/ansible/inventory.ini
